.fc-white {
  color: $white;
}
.fc-defLink {
  color: #5491ea !important;
}

.fc-red {
  color: #f94c49 !important;
}


.fc-subWhite {
  color: #d5d5d5;
}

.fc-blue {
  color: $blue;
}

.fc-black {
  color: #000;
}

.fc-gray{
  color: #4a4a4a;
}

.fc-gold {
  color: $gold;
}

.blue-link {
  color: #1b1e57;
}

.italic {
  font-style: italic;
}

.fz-small {
  font-size: 14px;
}

.fz-standart {
  font-size: 16px;
}

.fz-medium {
  font-size: 18px;
}

.fz-xmedium {
  font-size: 20px;
}

.fz-large {
  font-size: 24px;
}

.fz-xslarge {
  font-size: 28px;
}


.fz-xlarge {
  font-size: 40px;
}

.fw-bold {
  font-weight: 600;
}

.lora {
  font-family:'Lora', sans-serif;
}

