.button {

  color: $white;
  text-transform: uppercase;
  width: 100%;
  max-width: 320px;
  text-align: center;
  padding: 15px;


  &.black-button {
    background-color: $dark;
  }

  &.dib {
    display: inline-block;
  }
}